.contact__banner {
  background-image: url(images/neon_map.png) !important;
  background-position-x: right;
}

.contact__banner .overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(189, 79, 169, 0.4) 100%
  );
}

.second__contact {
  background-color: rgb(36, 36, 36);
  border-top: none;
}

.second__contact h2 {
  font-size: 32px;
}

.second__contact p {
  font-size: 16px;
}

.tab-contact__body {
  border: none;
  background-color: var(--bgrey);
}

.tab-contact__main__container {
  transform: translateY(-180px);
  background-color: rgb(36, 36, 36);
  margin: 0 auto;
  width: 80%;
  padding: 50px;
}

@media screen and (max-width: 1050px) {
  .tab-contact__main__container {
    width: 100%;
    transform: translateY(-15%);
  }
}

.contact__split1 {
  text-align: center;
}

.contact__split1 p {
  margin-top: 6px;
}

.contact__split1 h2 {
  color: var(--pink);
  font-size: 32px;
}

.contact__split1 p {
  color: var(--infowhite);
}

.contact__middle h2 {
  text-align: center;
  margin: 50px 0 50px 0;
  color: var(--infowhite);
  font-style: italic;
}

.contact__split2 {
  border: none;
}

.contact__split2 p {
  font-size: 16px;
}

@media screen and (max-width: 480px) {

  .tab-contact__main__container {
    padding: 20px;
  }

  .contact__split1 h2 {
    font-size: 26px;
  }

  .contact__container h2 {
    font-size: 26px;
    
  }

}

