.main__404 {
    background-color: var(--bgrey);
    overflow: hidden;
    height: 100%;
    border: 1px solid var(--bgrey);
}

.container__404 {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    padding: 0% 5% 0% 5%;
}

.container__image404 {
    text-align: center;
    padding: 60px 0 10px 0;
}

.number__404 {
    height: 60%;
    width: 60%;
    animation: floating 3s ease-in-out infinite;
}

.content__404 h2 {
    font-size: 3.2vw;
    color: var(--pink);
    padding-bottom: 15px;
}

.content__404 h3 {
    font-size: 1.3vw;
    color: var(--blue);
}

#img404 {
    z-index: -1;
    height: 60%;
    width: 60%;
    animation: floating 3s ease-in-out infinite;
  
  }

  #shadow404 {
    width: 75%;
    height: 30px;
    opacity: 0.5;
  }

  @media screen and (max-width: 768px) {
    .container__404 {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      padding: 30px 40px;
    }

    .content__404 h2 {
        font-size: 5.2vw;

    }

    .content__404 h3 {
        font-size: 3vw;

    }

    .content__404 {
        text-align: center;
        margin: 2rem auto;
      }

    .main__404 {
    overflow:auto;
    }
}