:root {
  --pink: #ff7de7;
  --blue: #7de7ff;
  --bgrey: #212121;
  --extragrey: #464646;
  --navbarblack: #1d1d1d;
  --infowhite: rgb(192, 192, 192);
  --largetitlegrey: rgb(56, 56, 56);
  --subtitlegrey: rgb(164, 162, 162);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Radnika", sans-serif;
  color: white;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bgrey);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@font-face {
  font-family: "Radnika";
  src: url(fonts/Radnika/Radnika-Medium.otf);
  font-style: normal;
}

/* NAV BAR */

.navbar {
  background: var(--navbarblack);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(106, 106, 106, 0.2);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 5%;
}
.strt {
  display: flex;
}

.nd {
  display: flex;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  margin-right: 3%;
}

#navbar__logo:hover {
  opacity: 1;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 60px;
  font-family: "Azonix" sans-serif;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  position: relative;
}

.navbar__links:hover {
  color: var(--pink);
  transition: all ease-in-out 200ms;
}

.navbar__links:hover::after {
  width: 80%;
}

.navbar__links::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 0%;
  background-color: var(--pink);
  bottom: 0px;
  transition: all ease-in-out 200ms;
}

.navbar__menu a.link-active {
  color: var(--pink);
}

.link-active::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 80% !important;
  background-color: var(--pink);
  bottom: 0px;
  transition: all ease-in-out 200ms;
}

.navbar__menu a.active:hover::after {
  width: 0%;
}

.navbar__rightside {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  background: var(--pink);
  padding: 12px 28px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  transition: 0.3s;
}

.nav__button:hover {
  background-color: rgb(208, 87, 208);
}

@media screen and (max-width: 550px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
  }

  .navbar__rightside {
    display: flex;
    margin-right: 50px;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    margin: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: rgb(46, 46, 46);
  }

  .navbar__menu.active {
    background: rgb(46, 46, 46);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 65vh;
    font-size: 12px;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .link-active::after {
    width: 0% !important;
  }

  #mobile-menu {
    position: absolute;
    top: 25%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar__links.active {
    margin: auto;
  }
}

@media screen and (max-width: 360px) {
  #navbar__logo {
    padding-left: 10px;
}

.nav__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  margin-left: 2px;
}

}

/* HERO */

.main {
  background-color: var(--bgrey);
}

.main__container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  padding: 0% 5% 0% 6%;
}

.main__content {
  /*border: 1px orange solid;*/
  color: #fff;
  width: 100%;
}

.main__content h2 {
  font-size: 2.8rem;
  color: var(--pink);
}

.main__content h1 {
  font-size: 4.8rem;
  font-weight: bold;
  margin-top: 0px;
  color: var(--blue);
}

.main__content p {
  margin-top: 2rem;
  font-size: 1.8rem;
  opacity: 0.85;
  font-weight: 700;
}

/* button */
.main__btn {
  font-size: 1rem;
  background: none;
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--pink);
  border: 2px var(--pink) solid;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: 0;
  z-index: 1;
}

.main__btn:hover {
  color: #fff;
}

.main__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: var(--pink);
  transition: all 0.35s;
}

.main__btn:hover:before {
  width: 100%;
}

/* Image */
.main__img--container {
  text-align: center;
  padding: 60px 0 10px 0;
}

#main__img {
  z-index: -1;
  height: 95%;
  width: 95%;
  max-height: 600px;
  max-width: 600px;
  animation: floating 3s ease-in-out infinite;

}

#shadow {
  width: 95%;
  height: 40px;
  opacity: 0.5;
}

@keyframes floating {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0px);
	}
}


.scrolldown {
  margin: 20px auto 0 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animateScroll 3s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

@keyframes animateScroll {
  0% {
    top: -15px;
    left: -15px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 15px;
    left: 15px;
    opacity: 0;
  }
}

/* Mobile Responsive */
@media screen and (max-width: 1000px) {
  #shadow {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 2rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h1 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .main__img--container {
    padding: 0;
  }

  .scrolldown {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main__content h2 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h1 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem;
  }

  .main__container {
    height: auto;
}
}

@media screen and (max-width: 320px) {
  .main__img--container {
    display: none;
  }
  
}

/* Secondary Container */

.game__cards__main {
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/svbg.png") repeat fixed 100%;
    background-size: 2000px;
  background-position-x: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.game__cards__main h3 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

.prefix {
  color: var(--pink);
}

.suffix {
  color: var(--blue);
}

.game__cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game__cards__cards {
  margin: 2rem;
  overflow-x: hidden;
  height: 380px;
  width: 280px;
  z-index: 3;
  border-radius: 8px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("/images/ff_small_cover.png");
  background-size: cover;
  background-position: left;
  position: relative;
  color: #fff;
  transition: 0.5s;
}

.game__cards__cards__2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.7) 100%
    ),
    url("images/4-am-drive.jpeg");
    background-position: bottom;
    
}

.game__cards__cards h2 {
  position: absolute;
  top: 300px;
  left: 30px;
  transition: 0.3s;
}

.game__cards__cards p {
  position: absolute;
  top: 345px;
  left: 35px;
  color: rgb(155, 153, 153);
  transition: 0.3s;
}

.game__cards__cards:hover {
  transform: scale(1.075);
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  .game__cards__main {
    background-size: 120%;
    background-position-x: center;
  }

  .game__cards__cards {
    height: 450px;
    width: 330px;
  }

  .game__cards__cards h2 {
    position: absolute;
    top: 360px;
    left: 30px;
  }
  
  .game__cards__cards p {
    position: absolute;
    top: 410px;
    left: 35px;
    color: rgb(155, 153, 153);
  }
}

@media screen and (max-width: 768px) {
  .game__cards__main {
    height: 1200px;
  }

  .game__cards__main h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {

  .game__cards__main h3 {
    font-size: 1.2rem;
  }

  .game__cards__main {
    background-size: auto;
  }

  .game__cards__cards {
    height: 300px;
    width: 200px;
  }

  .game__cards__cards h2 {
    top: 235px;
    left: 30px;
    font-size: 1.1rem;
  }
  
  .game__cards__cards p {
    top: 265px;
    left: 35px;
    font-size: 0.7rem;
  }
}

/* ABOUT */
.about__title {
  overflow-x: hidden;
  background-color: var(--bgrey);
}

.about__title h3 {
  font-size: 1300%;
  color: var(--largetitlegrey);
  opacity: 0.5;
  letter-spacing: 0px;
}

.about__main {
  overflow-x: hidden;
  background-color: var(--bgrey);
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  padding: 0px 50px 50px 50px;
}

.about__content {
  overflow-x: hidden;
  z-index: 1;
  width: 100%;
  max-width: 800px;
}

.about__content h2 {
  font-size: 2.8rem;
  color: var(--pink);
}

.about__content p {
  font-size: 1.1rem;
  width: 87%;
  color: var(--infowhite);
  line-height: 30px;
  padding-left: 10px;
}

.about__why h2 {
  color: var(--blue);
  margin-top: 20px;
}

.earth__container {
  z-index: 1;
  align-content: center;
  justify-self: center;
  margin: auto 0;
}

.earth__rotate {
  cursor: pointer;
  width: 450px;
  height: 450px;
  background: url(images/earth.png);
  background-size: cover;
  animation: animateEarth 12s linear infinite;
  border-radius: 50%;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* EARTH ROTATION */

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 810px 0;
  }
}

/* GLITCH EFFECT */

@media screen and (max-width: 900px) {
  .about__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding: 20px 20px;
  }

  .about__content {
    width: 100%;
    text-align: center;
  }

  .about__content p {
    margin: 0 auto;
    padding-left: 0;
  }

  .about__title h3 {
    font-size: 1000%;
    padding-top: 0;
    text-align: center;
  }

  .earth__container {
    z-index: 1;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 480px) {

  .about__title h3 {
    font-size: 500%;
  }

  .about__content h2 {
    font-size: 2rem;
  }

  .earth__container {
    display: none;
  }
}

/* CONNECT SECTION */

.connect__main {
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pinkcouldss.png") repeat fixed 100%;
    background-size: 3000px;
  background-position-x: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.connect__container {
  overflow-x: hidden;
  width: 100%;
  padding: 70px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  
}

.connect__main h2 {
  color: var(--pink);
  font-size: 40px;
  text-align: center;
}

.connect__main h4 {
  font-size: 25px;
  color: var(--blue);
  opacity: 1;
  text-align: center;
}

.connect__unit {
  text-align: center;
  z-index: 1;
  align-content: center;
  justify-self: center;
  width: 100%;
  margin: 0 auto;
}

.connect__unit.connect__ig h3 {
  color: var(--pink);
  font-size: 20px;
}

.connect__unit.connect__dc h3 {
  color: var(--pink);
  font-size: 20px;
}

.ig__icon {
  margin: 8.8px 0;
}

@media screen and (min-width: 1500px) {
  .connect__main {
    background-size: 120%;
    background-position-x: center;
  }
}

@media screen and (max-width: 1500px) {

  .connect__container {
    padding: 70px 0px;
  }
  
}

@media screen and (max-width: 600px) {

  .connect__main h2 {
    font-size: 25px;
  }

  .about__content p {
    font-size: 0.7rem;
  }
  
  .connect__main h4 {
    font-size: 15px;
  }

  .connect__container {
    grid-template-columns: auto;
    }

    .connect__unit {
      padding-top: 0;
      margin: 0 auto;
      text-align: center;
    }
}

/* CONTACT FORM */

.contact__main {
  width: 100%;
  background-color: var(--bgrey);
  border-top: 1px solid var(--bgrey);
}

.contact__container h2 {
  text-align: center;
  font-size: 45px;
  color: var(--pink);
  margin: 30px 10px 0 10px;
}

.contact__container p {
  text-align: center;
  font-size: 1rem;
  color: var(--infowhite);
  margin: 5px 10px 0px 10px;
}

.contact__form {
  margin: 25px auto 0px auto;
  padding: 0 15px;
  max-width: 700px;
  text-align: center;

}

.form__control {
  width: 48.2%;
  background: var(--largetitlegrey);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
}

.form__large {
  width: 98%;
  background: var(--largetitlegrey);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
}

.contact__form input {
  border: 2px solid var(--extragrey);
  border-radius: 4px;
  height: 45px;
  padding-left: 10px;
  margin: 5px 2px;
}

.contact__form input:hover {
  border: 2px solid var(--blue);
  transition: 1s ease;
}

.contact__form input:focus {
  border: 2px solid var(--blue);
  transition: 0.3s ease;
}

.contact__form textarea {
  resize: none;
  border: 2px solid var(--extragrey);
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 5px 2px;
}

.contact__btn {
  text-align: center;
}

.contact__form textarea:hover {
  border: 2px solid var(--blue);
  transition: 1s ease;
}

.contact__form textarea:focus {
  border: 2px solid var(--blue);
  transition: 0.3s ease;
}

.form__control.email:invalid:not(:focus):not(:placeholder-shown) {
  border-color: rgb(247, 88, 88);
}

.contact__btn .main__btn {
  margin: 0;
}
#success__msg {
  height: 24px;
  margin-top: 5px;
  padding-bottom: 20px;
}

#success__msg:not(:empty) {
  width: 30%;
  border-radius: 30px;
  height: 20px;
  border: 2px solid rgb(84, 222, 100);
  color: rgb(84, 222, 100);
  margin: 5px auto 0px auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

  
  .contact__container h2 {
    font-size: 25px;
    padding-top: 0;
  }

  .contact__container p {
    font-size: 0.8rem;
  }


}

@media screen and (max-width: 600px) {
  .form__control {
    width: 90%;
    padding-left: 10px;
}
.form__large {
  width: 90%;
  padding: none;
}


}
/* T-REX */

.t-rex {
  background-color: var(--bgrey);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.t-rex .dino {
  width: 70%;
  max-width: 1200px;
  padding-left: 4%;
  opacity: 0.5;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .t-rex .dino {
    width: 100%;
  }
}

/* FOOTER PADDING */

.footer__main {
  background-color: var(--bgrey);
  height: 2vh;
  z-index: 5;
}


@media screen and (max-width: 320px) {
  .game__cards__main {
    background-color: var(--bgrey);
  }

  .connect__main {
    background-color: var(--bgrey);
  }
}
